# The spend private key generated using `nocturne-ejector-cli export-spend-key`.
# This should be a hex string starting with "0x".
NOCTURNE_SPENDING_KEY=""

# URL for the RPC node to use when interatcing with the chain.
# this can be either a JSON-RPC URL (https://) or a websocket URL (wss://).
RPC_URL=""

# Private key for the Ethereum account you wish to withdraw your funds to. This account will be used to sign the transaction,
# so it should have enough ETH in it to cover the gas cost of the transaction, which varies with the number of notes being withdrawn.
# The CLI will print the amoutn of ETH required to withdraw the notes.
# In MetaMask, you can find this by going to "account details" and clicking "export private key".
WITHDRAWAL_ACCOUNT_PRIVATE_KEY=""